{% assign ip_list = site.data.network %}
<!-- Pulls from _data People -->
<table style="font-size:12px;" width="100%">
  <tr>
    <td>IP</td>
    <td>MAC</td>
    <td>Host Name</td>
    <td>Vendor</td>
    <td>DNS Name</td>
    <td>Comments</td>
  </tr>
    {% for ip in ip_list %}
  <tr>
    <td>
      {% if ip.ip %}<a href="http://{{ip.ip}}">{{ip.ip}}</a>{% else %}{% endif %}
    </td>
    <td>{{ip.mac}}</td>
    <td>{{ip.hostname}}</td>
    <td>{{ip.vendor}}</td>
    <td>{{ip.dns_name}}</td>
    <td>{{ip.comments}}</td>
  </tr>
    {% endfor %}
</table>
