<!-- Define department name based upon the name of the page referencing this include.  For instance, department name would be 'sound' if the page file name is equipment_list_sound.md -->

{% assign checklist = page.name | remove:"checklist_" | remove:".md" %}

<!-- assign the information in site.data.equipment to the variable 'zones' but only where the department name in the data matches the name of the page referencing the include. -->

{% assign listitems = site.data.checklists | where:"process", checklist | sort: 'order' %}


{% assign displayCol = "1,2,3,6" | split: "," %}
<table width="100%">

{% for item in listitems %}

{% if forloop.first == true %}

<tr>
{% for field in item %}
{% assign indexToStr = forloop.index | append: "" %}
{% if displayCol contains indexToStr %}
  <th style="font-size: 10px;">{{field[0] | replace: '_', ' ' | capitalize }}</th>
 {% endif %}
 {% endfor %}
</tr>
{% endif %}
<tr>

 {% for field in item %}

 {% assign indexToStr = forloop.index | append: "" %}
 {% if displayCol contains indexToStr %}
  <td>
    {% if indexToStr == '1' %}
      <input type="checkbox" />
    {% elsif indexToStr == '6' and field[1] == '' %}
      <a href="brokenlink.html"></a>
    {% elsif indexToStr == '6' and field[1] == "Y" %}
      <a href="/{{item.action | replace: ' ','-' | append: ".html" | prepend: "how-to-"| downcase }}" target="_blank">Details</a>
    {% else %}
      {{field[1]}}
    {% endif %}
  </td>
 {% endif %}

 {% endfor %}

</tr>

{% endfor %}

</table>
